body {
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: honeydew;
}
h1, h2 {
    margin-bottom: 0rem;
}
form {
    margin: 20px 16rem;
    border: azure solid 1px;
}
ul {
    display: inline-block;
    text-align: left;
}
li {
    padding: .25rem;
}
a {
    color: aqua;
}
div {
    padding: .5rem;
}
button {
    padding: .25rem;
}
.btn-delete {
    border-style: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgb(168, 68, 68);
}