html {
    text-align: center;
    font-size: 16px;
    background-color: rgb(48, 48, 48);
    color: honeydew;
}
main{
    margin: 2.5rem;
}
h1, h2 {
    margin: 0rem 0rem;
}
form {
    margin: 0px 16rem;
    border: azure solid 1px;
}
ul {
    margin: 0px;
    display: inline-block;
    text-align: left;
}
li {
    padding: .25rem;
}
a {
    color: aqua;
}
div {
    margin: 0px;
    padding: .5rem;
}
input[type=submit], button {
    cursor: pointer;
    border-style: none;
    border-radius: .25rem;
    padding: .4rem;
}
.btn-delete {
    margin-left: 5px;
    background-color: rgb(168, 68, 68);
}
#navigation-bar {
    list-style: none;
    display: block;
    padding: .75rem;
    text-align: center;
    background-color: rgb(3, 85, 85);
}
li.nav-link{
    display: inline-block;
    width: 10rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgb(6, 133, 133);
}
li.nav-link:active {
    background-color: black;
}
li.nav-link:hover {
    cursor: pointer;
}